<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/AppTheme">
        <activity android:name=".code.YearViewActivity"
            android:exported="false">
        </activity>
        <activity android:name=".code.PrivacyActivity"
            android:exported="false"/>
        <activity android:name=".code.MainActivity"
            android:exported="false">
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

</manifest>